.top-div{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

form button {
  margin-right: 10px;
  padding: 8px 16px;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
  padding: 8px 16px;
}
