<h2>Usuários:</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td><b>{{ user.name }}</b></td>
      <td>{{ user.age }}</td>
      <td>{{ user.description }}</td>
      <td>
        <button (click)="edit(user)">Editar</button>
        <button (click)="delete(user.id!)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Formulário  -->
<div *ngIf="selectedId" style="margin-top: 2rem; border: 1px solid #ccc; padding: 1rem; max-width: 400px;">
  <h3>Editando Usuário</h3>
  <form [formGroup]="form" (ngSubmit)="updateUser()">
    <div>
      <label>Nome:</label>
      <input formControlName="name"  type="text" placeholder="Nome" />
      <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" style="color: red;">
        <small *ngIf="form.get('name')?.errors?.['required']">O nome é obrigatório.</small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">Deve ter no mínimo 3 caracteres.</small>
      </div>
    </div>

    <div>
      <label>Idade:</label>
      <input type="number" formControlName="age" placeholder="Idade" />
      <div *ngIf="form.get('age')?.touched && form.get('age')?.invalid" style="color: red;">
        <small *ngIf="form.get('age')?.errors?.['required']">A idade é obrigatória.</small>
        <small *ngIf="form.get('age')?.errors?.['maxlength']">Deve ter no máximo 3 caracteres.</small>
        <small *ngIf="form.get('age')?.errors?.['min']">A idade deve ser maior que zero.</small>
      </div>
    </div>

    <div>
      <label>Descrição:</label>
      <input formControlName="description" placeholder="Descrição" />
      <div *ngIf="form.get('description')?.touched && form.get('description')?.invalid" style="color: red;">
        <small *ngIf="form.get('description')?.errors?.['required']">A descrição é obrigatória.</small>
        <small *ngIf="form.get('description')?.errors?.['maxlength']">Deve ter no máximo 120 caracteres.</small>
      </div>
    </div>

    <button type="submit">Salvar</button>
    <button type="button" (click)="clearForm()">Cancelar</button>
  </form>
</div><br>

<div class="button-back">
  <button class="user-create-button" routerLink="/creat">Criar Úsuarios</button>
  <button class="user-home-button" routerLink="" >Página Ínicial</button>
</div>

